
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
  color: rgb(1, 3, 124);
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.whitenoise {
  position:fixed; 
  top:0px; 
  width: 100%;
  height: 100%;
  background-color:#00f8df;
  z-index: -10;
}

.window.dark {
  background-color: rgb(1, 0, 68);
  border-color: white;
  color: white;
}

section.dark {
  background-color: rgb(1, 0, 68);
  border-color: white;
  color: white;
}


section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.hundred,
.window.hundred {
  height: 100vh;
}

.window.extra_padding {
  padding: 80px 0;
}

.window {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.5s;
  transition-timing-function: ease;
  overflow: hidden;
  width: 100%;
  /* background-color: white; */
  position: relative;
  overflow:hidden;
}


/* nav */

nav > .link.display_none,
.display_none {
  display: none;
}


nav {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
  height: 30px;
}

nav.white {
  /* background-image: linear-gradient(rgba(255, 255, 255) 60%, transparent); */
  background-color: rgba(255, 255, 255, 0.9);
}

nav.white.hide {
  background-color: transparent;
}

nav.white.hide > div > span {
  color:rgb(1, 3, 124);
}

nav.white.hide > div > span:hover {
  color:#00f8df;
}

@keyframes whiten {
  0% {background-color: transparent; }
  90% {background-color: transparent; }
  100% {background-color: white; }
}

nav > .link {
  margin: 0 15px;
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav.dark {
  /* background-image: linear-gradient(rgba(0, 17, 71) 60%, transparent); */
  background-color: rgba(1, 0, 68, 0.9);
}

nav.dark > .link {
  color: white
}

nav.dark > .link > .indicator.selected {
  animation: link_selected_dark forwards ease 0.3s;
}

.indicator {
  height: 5px;
  width: 0;
  margin: 0 0 0 auto;
}

.indicator.selected {
  animation: link_selected forwards ease 0.3s;
}

.link_label {
  cursor: pointer;
}
.link_label:hover {
  color:#00f8df;
}

@keyframes link_selected {
  0% { width: 5px;}
  100% { background-color: #00f8df; width: 100%; }
}

@keyframes link_selected_dark {
  0% { width: 5px; }
  100% { background-color: #00f8df; width: 100%; }
}


/* social link */

.social_link {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 52px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.social_link > a > img {
  width: 100%;
  height: auto;
  margin: 2.5px 0;
  transition: 0.3s;
  cursor: pointer;
}

.contact > a > img:hover,
.social_link > a > img:hover {
  transform: scale(1.3);
}


/* contacts */

.contact.anim {
  opacity: 0;
}

.contact.anim.animate {
  animation: slide_in ease forwards 0.3s;
}

.contact.first {
  margin: 15px 0 0 0;
}

.contact {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0 0 0;
}


.contact > a {
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
  color: rgb(9, 196, 221); 
  text-decoration: none;
}

.contact > a.text {
  margin: 0 0 0 5px;
}

.contact > a > img {
  width: 20px;
  height: auto;
  transition: 0.3s;
  cursor: pointer;
}

.contact > a > img.cursor {
  width: auto;
  height: 20px;
  padding: 0 4px 0 5px;
}


/* first page */

.first_page {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.first_page > div {
  display: flex;
  align-items: flex-start;
  width: 100%;
}


/* intro bunny */

.home_bunny {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 50px;
  height: 77px;
}

.home_bunny > img {
  height: 100%;
  width: auto;
  animation: hop_home 2.1s forwards; 
}

@keyframes hop_home {
  0% { opacity: 0; transform: scale(1,0.9) translateY(100%); }
  76% { opacity: 0; transform: scale(1,0.9) }
  77% { opacity: 1; transform: scale(1,0.9) translateY(100%); }
  85% { transform: scale(1.2,1) translateY(5%); }
  100% { opacity: 1; transform: scale(1) translateY(0); }
}  


.inner_wrapper {
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner_wrapper.no_max {
  max-width: none;
}


/* bio */

.bio {
  width: 100%;
  max-width: 1200px;
  text-align: inherit;
  margin: 8px 0 0 0;
}

.bio.anim {
  opacity: 0;
}

.bio.anim.animate {
  animation: slide_in_from_right ease forwards 0.3s;
}

.tiny > img {
  height: 100%;
  width: auto;
}

.projects_wrapper {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  justify-content: flex-start;
  flex-direction: column;
  padding: 60px 40px 40px 40px;
}

.projects {
  margin: 5px auto;
  width: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: red 1px solid;
  padding: 10px;
}

.projects> img {
  width: 50%;
  height: auto;
  padding: 20px;
}

.spacer_extra {
  height: 20px;
}


.gallery {
  /* border: blue 1px solid; */
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  transform: scale(0.6);
  align-content: center;
  transition: 0.5s;
}

.window.display > section > .gallery {
  transform: scale(1);
}


section.project {
  flex-direction: column;
  justify-content: flex-start;
}


.inner_box > img {
  height: 100%;
  width: 100%;
}

.inner_box {
  background-color: white;
  transition: 0.5s;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  /* padding: calc((1/ 2) * 100%) 0;  */
}

.background_cover {
  height: 100%;
  margin: 0 -100% 0 0;
  background-color: white;
  /* border: yellow 1px solid; */
  width: 100%;
}

.background_indicator {
  height: 50vh;
  width: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  filter: sepia(100%) hue-rotate(260deg);
  opacity: 0.3;

}


.info_wrapper {
  /* border: red 1px solid; */
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  flex-direction: column;
}

.info_wrapper > div {
  transition: 0.3s;
  position: relative;
}

.info_wrapper.hide > div {
  margin-left: -200vh;
  opacity: 0;
}



.nav_image > img:hover {
  filter: invert(100%) brightness(400%);
  cursor: pointer;
}


.project_image_wrapper {
  /* border: red 1px solid; */
  width: 100%;
  max-width: 1200px;
  height: 300px;
  position: relative;
  margin: 40px 0 0 0;
  /* max-width: 500px; */ 
  overflow: hidden; 
}

.slide {
  position: absolute;
  opacity: 0;
  /* animation: slide_off ease forwards 5s; */
}

.project_image_wrapper.animate > .slide {
  opacity: 1;
}

.slide > img {
  width: 100%;
  height: 100%;
}



/* @keyframes slide_off {
  0% {left: 0};
  100% {left: 100%;}
} */

.detail {
  padding: 5px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  opacity: 0;
  /* opacity: 0.2;
  transition: 0.5s; */
}


.detail.animate {
  animation: slide_in_from_right ease forwards 0.5s;
}




li.project_link {
  list-style-type: none;
  text-align: right;
}

li.project_link > a {
  color: rgb(9, 196, 221); 
  text-decoration: none;
}


li.project_link > a:hover {
  color: #00f8df;
}


@keyframes slide_in_from_right {
  0% { margin-right: -100vw; opacity: 0;}
  50% { opacity: 0;}
  100% { margin-right: 0; opacity: 1;}
}


.project_link {
  width: 100%;
  height: 40px;
}


.experience_wrapper {
  /* width: calc(50% - 10px); */
  width: 100%;
  margin: 20px 0 0 0;
  text-align: justify;
  opacity: 0;
  /* opacity: 0.2;
  transition: 0.5; */
}

.experience_wrapper > p {
  color: #00f8df;
  text-align: left;
  width: 100%;
}

.experience_wrapper.animate {
  animation: slide_in ease forwards 0.5s;
}  

.experience_wrapper >  p {
  font-weight: 700;
}

.experience_wrapper >  p > span {
  text-align: right;
  font-weight: 400;
  /* color: #13b9a9; */
}

ul {
  list-style-type: square;
  margin: 5px 0 0 -22px;
  padding-right: 20px;
}

li {
  margin: 4px 0 0 0;
}

li > a {
  color: rgb(9, 196, 221);
  text-decoration: none;
}

li > a:hover {
  color: white;
}

.animation_wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -100;
  position: fixed;
}



.wrapper {
  position:fixed;
  top:0px;
  overflow:scroll;
  background-color:#1b1b57;
  animation: bringup 1.6s forwards; 
  animation-play-state: paused;
  width: 100%;
  }

.wrapper.run {
  animation-play-state: running;
}
.wrapper.absolute{
  position: absolute;
  background-color: transparent;
  overflow: visible;
}

.heading {
  margin: 50px auto 0 0;
  border: solid #00f8df;
  border-width: 3px 0 0 0;
  color:transparent;
  width: 0%;
  transition: ease 0.5s;
}

.heading.animate {
  color:#00f8df;
  width: 100%;
}

.heading.white_bg.animate {
  color:rgb(1, 0, 68);
}

.sub_heading {
  width: 100%;
  margin: 26px 0 0 0;
  transition: ease 0.5s;
  color: transparent;
}

.sub_heading.animate {
  color:#ffffff;
}

.sub_heading.white_bg {
  margin: 50px 0 -25px auto;
  border: solid rgb(1, 0, 68);
  border-width: 3px 0 0 0;
  padding: 3px 0 0 0;
  width: 0;
  font-weight: 700;
}

.sub_heading.white_bg.animate {
  color: rgb(1, 0, 68);
  width: 100%;
}

.skills {
  flex-wrap: wrap;
  /* align-items: flex-start; */
  align-content: flex-start;
  display: flex;
  width: calc(100% - 10px);
  max-width: 500px;
}

.skill_divs_wrapper {
  height: 50px;
  width: auto;
  margin: 10px 17px 0 0;
  /* border: blue 1px solid; */
}

.skill_divs {
  opacity: 0;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* border: yellow 1px solid; */
}

.skill_divs.animate {
  animation: slide_in ease forwards 0.5s;
}

@keyframes slide_in {
  0% { margin-left: -200%; opacity: 0;}
  /* 30% { opacity: 0;} */
  100% { margin-left: 0; opacity: 1;}
}

.image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  /* border: red 1px solid; */
}

.image_wrapper > img {
  width: 28px;
  height: 28px;
}

.bunny_wrapper {
  position:fixed;
  top:0px;
  width:100%;
  height:100%;
  background-color:rgb(1, 0, 68);
  animation: intro 2.6s forwards; 
  animation-play-state: paused;
}

.bunny_wrapper.run {
  animation-play-state:running; 
}

.bunny_wrapper.delete {
  display: none;
}
  
.bunny_inner_wrapper {
  position:relative;
  margin: 0 auto; 
  border-radius:50%;
  width:200px; 
  height:200px;
  background-color:transparent; 
  top: 50%;
  transform: translateY(-50%);
}

.hidebox{ 
  position:relative;
  margin: 0 auto; 
  background-color:rgb(1, 0, 68);    
  width:100%;
  height:200px;
}

.bunnybox {
  position:relative; 
  margin: 0 auto; 
  width:200px; 
  height:200px;
  background-color:#00f8df;
  animation: appear 0.5s forwards;  
  animation-play-state: paused;
  }

.bunny_wrapper.run > .bunny_inner_wrapper > .bunnybox {
  animation-play-state:running;
}

@keyframes appear {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}  
  
.bunny {
  position: absolute; 
  left: 10%;
  bottom: -15px;
  width: 80%; 
  height: 80%;   
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/bunny.svg);
  animation: hop 1.5s forwards; 
  animation-play-state: paused;
}


.bunny_wrapper.run > .bunny_inner_wrapper > .bunnybox > .bunny{
  animation-play-state:running;
}


@keyframes hop {
  0% { opacity: 0; transform: scale(1,0.9) translateY(100%); }
  19% { opacity: 0; transform: scale(1,0.9) }
  20% { opacity: 1; transform: scale(1,0.9) translateY(100%); }
  50% { transform: scale(1.2,1) translateY(-9%); }
  100% { opacity: 1; transform: scale(1) translateY(0); }
}  

@keyframes intro {
  0% { opacity: 0.85; transform: scale(1.2) translateY(0); }
  30% {  transform: scale(1.2) }
  40% { opacity: 0.85; transform: scale(1) }
  50% { opacity: 0; transform: scale(50) }
  99% { transform: scale(100) translateY(0); }
  100% { opacity: 0; transform: scale(100) translateY(-100%); }
}

@keyframes bringup {
  0% { opacity: 0; transform: scale(1) translateY(100%); }    
  70% { transform: scale(1) translateY(100%); }
  85% { opacity: 1; transform: scale(1) translateY(-4%); }
  90% { transform: scale(1) translateY(2%); }
  95% { transform: scale(1) translateY(-1%); }
  100% { opacity: 1; transform: scale(1) translateY(0); }
}



.email_link > div > a {
  color: rgb(9, 196, 221);
  text-decoration: none;
}

.email_link > div > a:hover {
  text-decoration: underline;
}

.email_link {
  height: 100%;
  bottom: 0px;
  right: 0px;
  width: 32px;
  padding: 5px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.email_link > div {
  width: 220px;
  margin-left: -105px;
  transform-origin: 50% 100%;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
}

.email_link > div > a {
  display: flex;
  align-items: center;
}

.page_top_nav > img,
.email_link > div > a > img {
  width: 20px;
  height: auto;
  margin: 0 5px 0 0;
  transition: 0.5s;
  cursor: pointer;
}

.email_link > div > a > img { 
  transform: rotate(-90deg);
}

.page_top_nav > img:hover {
  transform: scale(1.3);
}

.email_link > div > a > img:hover {
  transform:  rotate(-90deg) scale(1.3);
}

.page_top_nav {
  position: fixed;
  bottom: 10px;
  right: 7px;
  width: 25px;
  padding: 5px;
  display: flex;
  z-index: 10;
  opacity: 1;
  transition: 0.5s;
}

.page_top_nav.hide {
  opacity: 0;
  cursor: default;
}

.other_skills {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: calc(100% - 10px);
  max-width: 500px;
}


.skill_container {
  width: 100%;
  display: flex;
}

.skill_container > div {
  width: 1200px;
}  


li.skill_label {
  color: #00f8df;
  margin: 0 0 0 -24px;
}

.other_skill_divs {
  width: auto;
  opacity: 0;
}

/* .experience_wrapper.animate > .experience_list, */
.other_skills.animate > .other_skill_divs {
  animation: slide_in ease forwards 0.5s;
}

/* .experience_list > :nth-child(1) { animation-delay: 0.15s; }
.experience_list > :nth-child(2) { animation-delay: 0.2s; }
.experience_list > :nth-child(3) { animation-delay: 0.25s; }
.experience_list > :nth-child(4) { animation-delay: 0.3s; }
.experience_list > :nth-child(5) { animation-delay: 0.35s; } */

.ten {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  z-index: 10;
  pointer-events: none;
}

.ten.frame {
  animation: frame_animate 0.5s forwards;
}

@keyframes frame_animate {
  100% {
    border: 0px solid rgb(1, 3, 124);
    background: rgb(1, 3, 124);
    
  }
  50% {
    border: 2px solid rgb(1, 3, 124);
    background: transparent;
  }
  0% {
    border: 1px solid rgb(1, 3, 124);
    background: transparent;
  }
}

.ten.fadeout {
  animation: fadeout 0.5s forwards;
}

@keyframes fadeout {
  0% {
    height: 10px;
    width: 10px;
    background: rgb(1, 3, 124);
  }
  100% {
    height: 0px;
    width: 0px;
    background: rgb(1, 3, 124);
  }
}

.ten.fadeout_green {
  animation: fadeoutgreen 0.5s forwards;
}

@keyframes fadeoutgreen {
  0% {
    height: 10px;
    width: 10px;
    background: #00f8df;
  }
  100% {
    height: 0px;
    width: 0px;
    background: #00f8df;
  }
}


/* 
@keyframes display {
  0%{transform: scale(1);}
  70%{transform: scale(2.5);}
  100%{transform: scale(1);}
} */


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

small {
  position: absolute;
  bottom: 8px;
}

.random_box {
  position: absolute;
  bottom: -10%; 
  animation: rotate ease infinite 40s;
  background-color: #00f8df;
  z-index: 10;
}

@keyframes rotate {
  0% {transform: rotate(0); }
  100% {transform: rotate(270deg); }
}

.ambient {
  margin: -100vh 0 0 0;
  z-index: -1;
  position: relative;
  overflow: hidden;
  background-color: white;
  height: 100vh;
}

.window.white {
  background-color: white;
}

.load {
  position:fixed;
  top:0px;
  width:100%;
  height:100%;
  opacity:1; 
  background-color:rgb(1, 0, 68);
  z-index: 999;
  transition:0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load.hide {
  z-index:0;
  opacity:0;
}

.center_text{
  color:#ffffff;
  /* width: 200px; 
  text-align: center; */
  letter-spacing: 2px;
}

@media screen and (min-width:0px) {
  .inner_wrapper {
    width: calc(100% - 10px);
  }
  .email_link {
    position: absolute;
  }
}

@media screen and (min-width:500px) {
  .inner_wrapper {
    width: calc(100% - 10px);
    max-width: 1200px;
  }
  .email_link {
    position: fixed;
  }
}  


.title { font-size: 30px; }

.intro { font-size: 18px;}


.heading {
  font-size: 30px;
  font-weight: 700;
  padding: 2px 0 4px 0;
}

.sub_heading,
.experience_wrapper > p {
  font-size: 17px;
}

.detail,
.bio,
.experience_wrapper,
.contact,
li.skill_label { font-size: 17px; }

.skill_divs > p {
  color: #00f8df;
  font-size: 15px;
  text-align: center;
  /* border: red 1px solid; */
}


small { font-size: 12px; } 

/* .detail > p {
  font-size: 14.5px;
  font-weight: 700;
} */

/* .scrollpos {
  position: fixed;
  width: 150px;
  height: 30px;
  bottom: 10px;
  left: 10px;
  text-align: left;
  font-size: 9px;
  border: red 1px solid;
} */


/* 
.box {
  padding: 0 0 calc((1 / 4) * (100% - 60px)) 0;
  width: calc(25% - 30px);
  position: relative;
  margin: 15px;
  border: hotpink 1px solid;
  transition: 0.6s;
} */

/* .cover {
  z-index: 1000;
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .pos {
  position: fixed;
  width: 150px;
  height: 30px;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 9px;
}

.test {
  height: 50px;
  width: 200px;
  position: fixed;
  top: 20px;
  left: 50px;
} */

/* .explanation {
  padding: 20px 20px 20px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  border: blue 1px solid;
}

.explanation {
  font-size: 14px;
}   */

/* .inner_box > p {
  font-size: 12px;
  color: rgb(177, 177, 177);
}
 */
